<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href=
  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script type="text/javascript" src=
  "{{url_for('static',filename='js/vis.js')}}"></script>
  <title></title>
</head>
<body>
  <div id="vis" class="container h-100 d-flex justify-content-center">
    <h1>Prototype visualization</h1><button id="btn_load">Load dataset</button>
    <div id="loading-indicator" hidden="true">
      <h2>Loading...</h2>
    </div>
  </div>
</body>
</html>
