<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href=
  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>  
  <script type="text/javascript" src=
	  "{{url_for('static',filename='js/vis.js')}}"></script>
  <title>Prototype Trajectory Visualization</title>
</head>
<body>
  <div class="container-fluid justify-content-center">
    <div id="info" class="row">
      <h1>Prototype Visualization</h1>
      <input type="range" min="0" max="100" value="0" id="slider_threshold">
      <label id="lbl_slider" for="slider_threshold">Only show states with more than 0 occurences.</label>
      </br>
      <button id="btn_load">Load dataset</button>      
      <div id="loading-indicator" hidden="true">
        <h2>Loading...</h2>
      </div><input id="toggle_arc" type="checkbox" hidden="true"
      name="toggle_arc"> <label id="lbl_toggle_arc" for=
      "toggle_arc" hidden="true">Toggle arc diagram</label>
    </div>
    <div id="vis" class="row"></div>
  </div>
</body>
</html>
