[submodule "neomd"]
	path = neomd
	url = git@github.com:rostyhn/neomd.git
[submodule "lammps"]
	path = lammps
	url = https://github.com/lammps/lammps
[submodule "petsc"]
	path = petsc
	url = https://github.com/petsc/petsc
