App {
    align-content: center;
}

Centered {
    display: flex;
    align-content: center;
    justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
