img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.lightBorder {
    border: 1px solid lightgray;
}

.floatingToolBar {
  display: flex;
  position: absolute;
  right: 5px;
}

.hideUntilHover {
    display: none;
}

.hideUntilHoverTrigger:hover .hideUntilHover {
    display: block;
}

.embeddedChart {
}

.unfocused {
    opacity: 0.3;
}

.Box:disabled {
    color: 'gray';
}

.stateText:hover {
    font-weight: bold;
    cursor: pointer;
}

.MuiLinearProgress-bar {
  transition: none;
}

.bar {
    transition: none;
}
