.currentSelection, .highlightedState {
    stroke: black;
}

.state {
  opacity: 0.5;
}

.fullOpacity {
    opacity: 1.0;
}

.state:hover {
  opacity: 1.0;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    stroke: black;
}

.icon.clickable:hover {
    fill: black;
    stroke: none;
}

.highlightedStates {
}

.nodeInCommon {
    fill: black;
}

.strongly_unstable {
    fill: red          
}

.moderately_unstable {
    fill: yellow
}

.stable {
    fill: green
}

.neighborInvisible {
    opacity: 0.01
}

.MIN, .MAX, .RANGE, .RELATION, .chunks, .invisible, .inCommonInvisible {
    visibility: hidden;
}

.highlightedInvisible {
    opacity: 0.1;
}

.important {
    stroke: black;
    stroke-dasharray: 2;
    stroke-dashoffset: 25%;
}

.important:hover {
    stroke-dasharray: none;
    stroke-dashoffset: none;
}

.important.clicked {
    stroke-dasharray: none;
    stroke-dashoffset: none;
}

.important.highlightedState {
    stroke-dasharray: none;
    stroke-dashoffset: none;
}

.dashedStroke {
    stroke-dasharray: 2;
    stroke-dashoffset: 25%;
}

.unimportant {
    opacity: 0.6;
}

.unimportant:hover {
    stroke: black;
}

.ribbon:hover {
  stroke: black;
  opacity: 1;
}

rect.selection {
    fill: none;
    stroke: gray;
}

.arrowed {    
    marker-end: url(#arrow);
}

.clicked {
    stroke: black;
}
.unimportant.clicked {
    opacity: 0.6;
}

img.clicked {
    border: 1px solid black;
}

div.selected {
    border: 1px solid black;
}

rect.selected {
    stroke: red;
}
