.highlightedState {
    stroke: black;
    filter: brightness(2);
}

.strongly_unstable {
    fill: red          
}

.moderately_unstable {
    fill: yellow
}

.stable {
    fill: green
}

.neighborInvisible {
    opacity: 0.01
}

.MIN, .MAX, .RANGE, .RELATION, .chunks, .invisible{
    opacity: 0.0
}

.arrowed {    
    marker-start: url(#arrow);
}
