.currentSelection, .highlightedState {
    stroke: black;
}

.selectedExtent {
    border: 1px solid black;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    stroke: black;
}

.highlightedStates {
}

.nodeInCommon {
    fill: black;
}

.strongly_unstable {
    fill: red          
}

.moderately_unstable {
    fill: yellow
}

.stable {
    fill: green
}

.neighborInvisible {
    opacity: 0.01
}

.MIN, .MAX, .RANGE, .RELATION, .chunks, .invisible, .inCommonInvisible {
    visibility: hidden;
}

.highlightedInvisible {
    opacity: 0.3;
}

.important {
    stroke: black;
    stroke-dasharray: 2;
    stroke-dashoffset: 25%;
    color: white;
}

.important:hover {
    stroke-dasharray: none;
    stroke-dashoffset: none;
}

.important.highlightedState {
    stroke-dasharray: none;
    stroke-dashoffset: none;
}

.dashedStroke {
    stroke-dasharray: 2;
    stroke-dashoffset: 25%;
}

.unimportant {
    opacity: 0.6;
}

.unimportant:hover {
    stroke: black;
}

.ribbon:hover {
  stroke: black;
  opacity: 1;
}

.arrowed {    
    marker-end: url(#arrow);
}

.vis {
    display:absolute;
}

.embeddedChart {
    border: 1px;
    position: absolute;
    z-index:9999;
    background-color: red;
}
