.highlightedState {
    stroke: black;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    stroke: black;
}

.highlightedStates {
}

.nodeInCommon {
    fill: black;
}

.strongly_unstable {
    fill: red          
}

.moderately_unstable {
    fill: yellow
}

.stable {
    fill: green
}

.neighborInvisible {
    opacity: 0.01
}

.MIN, .MAX, .RANGE, .RELATION, .chunks, .invisible, .inCommonInvisible {
    visibility: hidden;
}

.highlightedInvisible {
    opacity: 0.3;
}

.importantChunk {
    stroke: black;
    stroke-dasharray: 2;
    stroke-dashoffset: 25%;
}

.importantChunk:hover {
    stroke-dasharray: none;
    stroke-dashoffset: none;
}

.importantChunk.highlightedState {
    stroke-dasharray: none;
    stroke-dashoffset: none;
}

.dashedStroke {
    stroke-dasharray: 2;
    stroke-dashoffset: 25%;
}

.unimportantChunk {
    opacity: 0.6;
}

.unimportantChunk:hover {
    stroke: black;
}

.arrowed {    
    marker-end: url(#arrow);
}

.vis {
    display:'inline-block';
}
