.highlightedState {
    stroke: black;
    cursor: pointer;
}

.highlightedStates {
}

.nodeInCommon {
    fill: black;
}

.strongly_unstable {
    fill: red          
}

.moderately_unstable {
    fill: yellow
}

.stable {
    fill: green
}

.neighborInvisible {
    opacity: 0.01
}

.MIN, .MAX, .RANGE, .RELATION, .chunks, .invisible, .inCommonInvisible {
    visibility: hidden;
}

.highlightedInvisible {
    opacity: 0.3;
}

.importantChunk {
    stroke: black;
    
}

.unimportantChunk {
    opacity: 0.6;
}

.arrowed {    
    marker-end: url(#arrow);
}

.vis {
    display:'inline-block';
}
