.CenteredSpinner {
    margin: auto;    
}


.DefaultModal {
    overlay: {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	backgroundColor: rgba(255, 255, 255, 0.75);
    };    

    text-align: center;
    margin: auto;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    WebkitOverflowScrolling: touch;
    borderRadius: 4px;
    outline: none;
    padding: 20px;
    
}

.SmallModal {
    width: 25%;
    height: 30%;
}

.LargeModal {        
    width: 40%;
    height: 80%; 
}

